/*FEEDBACK CSS
*/
.navbar{
    background-image: url(../images/board3.jpg);
    background-color:#0f0f0f; 
}
body {
padding-top: 130px;
height:2000px;
background-image: url(../images/menu-pizza.jpg);

}
/*ABOUT CSS

*/


